{%- set actor = registry.get_random_user() -%}
{%- set target = registry.get_user(actor['github_target_username']) -%}
{%- set org = registry.get_organization()['github_org'] -%}
{%- set team = registry.get_service('github-audit-team')['github_team_slug'] -%}
{%- set clock = now() -%}
{%- set milliseconds = ((clock | unix_timestamp) | int) * 1000 + clock.microsecond // 1000 -%}
{{- {'@timestamp': milliseconds, 'action': 'team.add_member', 'actor': actor['github_login'], 'created_at': milliseconds, '_document_id': fake.lexify(text='??????????????????????', letters='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_'), 'org': org, 'team': org + '/' + team, 'user': target['github_login']} | tojson -}}
