{# PAN-OS 11.x traffic log CSV (131 fields per Palo Alto syslog field descriptions) #}
{%- set app_groups = {
    'web': {
        'apps': ['web-browsing', 'ssl', 'http-proxy'],
        'protocol': 'tcp',
        'src_ports': range(49152, 65535),
        'dst_ports': [80, 443, 8080, 8443],
        'valid_actions': ['allow', 'deny', 'reset-client', 'reset-server', 'reset-both'],
        'rule_prefix': 'allow-internet',
        'app_subcategory': 'internet-utility',
        'app_category': 'general-internet',
        'app_technology': 'browser-based',
        'app_risk': 4
    },
    'dns': {
        'apps': ['dns'],
        'protocol': 'udp',
        'src_ports': range(49152, 65535),
        'dst_ports': [53],
        'valid_actions': ['allow', 'deny', 'drop'],
        'rule_prefix': 'allow-dns',
        'app_subcategory': 'infrastructure',
        'app_category': 'networking',
        'app_technology': 'client-server',
        'app_risk': 2
    },
    'file_sharing': {
        'apps': ['ms-ds-smb', 'netbios-ss'],
        'protocol': 'tcp',
        'src_ports': range(49152, 65535),
        'dst_ports': [445, 139],
        'valid_actions': ['allow', 'deny', 'reset-client', 'reset-server', 'reset-both'],
        'rule_prefix': 'allow-file-sharing',
        'app_subcategory': 'file-sharing',
        'app_category': 'business-systems',
        'app_technology': 'client-server',
        'app_risk': 3
    },
    'database': {
        'apps': ['mysql', 'ms-sql-m'],
        'protocol': 'tcp',
        'src_ports': range(49152, 65535),
        'dst_ports': [3306, 1433],
        'valid_actions': ['allow', 'deny', 'reset-client', 'reset-server', 'reset-both'],
        'rule_prefix': 'allow-database',
        'app_subcategory': 'database',
        'app_category': 'business-systems',
        'app_technology': 'client-server',
        'app_risk': 3
    },
    'network': {
        'apps': ['ping', 'traceroute'],
        'protocol': 'icmp',
        'src_ports': [0],
        'dst_ports': [0],
        'valid_actions': ['allow', 'deny', 'drop'],
        'rule_prefix': 'allow-icmp',
        'app_subcategory': 'infrastructure',
        'app_category': 'networking',
        'app_technology': 'network-protocol',
        'app_risk': 1
    }
} -%}
{%- set log_sub_types = ['start', 'end', 'deny', 'drop'] -%}
{%- set log_sub_type = log_sub_types | random -%}

{%- set endpoint = registry.get_random_device() -%}
{%- set endpoint_user = registry.get_random_user() -%}
{%- set usernames = ['jsmith', 'alee', 'bjohnson', 'mwilliams', 'dthomas'] -%}
{%- set source_user = endpoint_user.username if endpoint_user else usernames | random -%}
{%- set destination_user = '' -%}

{%- set app_group_keys = app_groups.keys() | list -%}
{%- set selected_group = app_group_keys | random -%}
{%- set group = app_groups[selected_group] -%}
{%- set application = group.apps | random -%}
{%- set protocol = group.protocol -%}
{%- set source_port = group.src_ports | random -%}
{%- set destination_port = group.dst_ports | random -%}
{%- set action = group.valid_actions | random -%}

{%- set zone_pairs = {
    'internal': {
        'src': ['trust', 'lan', 'internal'],
        'dst': ['trust', 'lan', 'internal']
    },
    'outbound': {
        'src': ['trust', 'lan', 'internal'],
        'dst': ['untrust', 'internet', 'external']
    },
    'inbound': {
        'src': ['untrust', 'internet', 'external'],
        'dst': ['dmz', 'dmz-in']
    },
    'blocked': {
        'src': ['untrust', 'internet', 'external'],
        'dst': ['trust', 'lan', 'internal']
    }
} -%}
{%- if action == 'allow' -%}
    {%- set zone_options = ['internal', 'outbound', 'inbound'] -%}
{%- else -%}
    {%- set zone_options = ['blocked', 'inbound'] -%}
{%- endif -%}
{%- set selected_zone_pair = zone_pairs[zone_options | random] -%}
{%- set source_zone = selected_zone_pair.src | random -%}
{%- set destination_zone = selected_zone_pair.dst | random -%}

{%- set rule_name = group.rule_prefix -%}
{%- set categories = ['any', 'business-and-economy', 'computer-and-internet-info', 'social-networking', 'search-engines', 'private-ip-addresses'] -%}
{%- set category = categories | random -%}

{%- set ts = current_timestamp() -%}
{%- set pa_time = ts | format_timestamp('%Y/%m/%d %H:%M:%S') -%}
{%- set start_time = ts | subtract_seconds(random_int(1, 3600)) | format_timestamp('%Y/%m/%d %H:%M:%S') -%}
{%- set high_res_ms = '%03d' | format(random_int(0, 999)) -%}
{%- set high_res_timestamp = (ts | format_timestamp('%Y-%m-%dT%H:%M:%S')) ~ '.' ~ high_res_ms ~ '+00:00' -%}

{%- set fw_serial = random_string(16, '0123456789ABCDEF') -%}
{%- set fw_hostname = 'PA-VM' -%}
{%- set config_version = random_int(2000, 3200) -%}
{%- set session_id = random_int(100000, 9999999) -%}
{%- set sequence_number = random_int(1000000, 999999999) -%}
{%- set log_forwarding_profile = 'log-forwarding-default' -%}

{%- if destination_zone in ['untrust', 'internet', 'external'] -%}
    {%- set source_ip = endpoint.ip_address if endpoint else random_private_ip() -%}
    {%- set destination_ip = random_public_ip() -%}
    {%- set nat_source_ip = random_public_ip() -%}
    {%- set nat_destination_ip = destination_ip -%}
{%- elif source_zone in ['untrust', 'internet', 'external'] -%}
    {%- set source_ip = random_public_ip() -%}
    {%- set destination_ip = endpoint.ip_address if endpoint else random_private_ip() -%}
    {%- set nat_source_ip = source_ip -%}
    {%- set nat_destination_ip = destination_ip -%}
{%- else -%}
    {%- set source_ip = endpoint.ip_address if endpoint else random_private_ip() -%}
    {%- set destination_ip = random_private_ip() -%}
    {%- set nat_source_ip = source_ip -%}
    {%- set nat_destination_ip = destination_ip -%}
{%- endif -%}
{%- set nat_source_port = source_port -%}
{%- set nat_destination_port = destination_port -%}

{%- set bytes_sent = random_int(500, 500000) -%}
{%- set bytes_received = random_int(500, 250000) -%}
{%- set bytes_total = bytes_sent + bytes_received -%}
{%- set packets_sent = random_int(5, 500) -%}
{%- set packets_received = random_int(5, 400) -%}
{%- set packets_total = packets_sent + packets_received -%}
{%- set elapsed_time = random_int(1, 7200) -%}

{%- set flags = '0x400064' if destination_zone in ['untrust', 'internet', 'external'] else '0x400000' -%}

{%- set country_names = ['United States', 'Germany', 'United Kingdom', 'Japan', 'Canada', 'France', 'Australia', 'Netherlands'] -%}
{%- set source_country = country_names | random -%}
{%- if destination_ip.startswith('10.') or destination_ip.startswith('172.') or destination_ip.startswith('192.168.') -%}
    {%- set destination_country = '10.0.0.0-10.255.255.255' -%}
{%- else -%}
    {%- set destination_country = country_names | random -%}
{%- endif -%}

{%- if log_sub_type == 'end' -%}
    {%- set session_end_reason = ['aged-out', 'tcp-fin', 'tcp-rst-from-client', 'tcp-rst-from-server'] | random -%}
{%- elif log_sub_type == 'deny' -%}
    {%- set session_end_reason = 'policy-deny' -%}
{%- else -%}
    {%- set session_end_reason = 'n/a' -%}
{%- endif -%}

{%- set src_dynamic_addr_groups = ['Corp-Workstations', 'Corp-Internal', 'Finance-Dept', 'IT-Dept'] -%}
{%- set dst_dynamic_addr_groups = ['Web-Server', 'DNS-Server', 'Mail-Server', 'Application-Server'] -%}
{%- set src_dynamic_addr_group = src_dynamic_addr_groups | random -%}
{%- set dst_dynamic_addr_group = dst_dynamic_addr_groups | random -%}
{%- set flow_type = ['NonProxyTraffic', 'ProxyTraffic'] | random -%}
{%- set ingress_interface = 'ethernet1/' ~ random_int(1, 4) -%}
{%- set egress_interface = 'ethernet1/' ~ random_int(1, 4) -%}

{%- set endpoint_hostname = endpoint.hostname if endpoint else '' -%}
{%- set endpoint_mac = endpoint.mac_address if endpoint and endpoint.mac_address else '' -%}

{%- set fields = [
    1,
    pa_time,
    fw_serial,
    'TRAFFIC',
    log_sub_type,
    config_version,
    pa_time,
    source_ip,
    destination_ip,
    nat_source_ip,
    nat_destination_ip,
    rule_name,
    source_user,
    destination_user,
    application,
    'vsys1',
    source_zone,
    destination_zone,
    ingress_interface,
    egress_interface,
    log_forwarding_profile,
    '',
    session_id,
    1,
    source_port,
    destination_port,
    nat_source_port,
    nat_destination_port,
    flags,
    protocol,
    action,
    bytes_total,
    bytes_sent,
    bytes_received,
    packets_total,
    start_time,
    elapsed_time,
    category,
    '',
    sequence_number,
    '0x0',
    source_country,
    destination_country,
    '',
    packets_sent,
    packets_received,
    session_end_reason,
    0,
    0,
    0,
    0,
    'vsys1',
    fw_hostname,
    'from-policy',
    '',
    '',
    '',
    '',
    0,
    '',
    0,
    0,
    0,
    0,
    0,
    random_guid(),
    0,
    0,
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    endpoint_hostname,
    endpoint_mac,
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    src_dynamic_addr_group,
    dst_dynamic_addr_group,
    '',
    high_res_timestamp,
    '',
    '',
    group.app_subcategory,
    group.app_category,
    group.app_technology,
    group.app_risk,
    '',
    application,
    '',
    0,
    0,
    0,
    flow_type,
    '',
    0,
    0,
    '',
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    '',
    ''
] -%}
{{ fields | join(',') }}
