{%- set user = registry.get_random_user() -%}
{%- set device = registry.get_device(user['username'] + '-client') -%}
{%- set org = registry.get_organization() -%}
{%- set profile = registry.get_service('crowdstrike-profile') -%}
{%- set clock = now() -%}
{%- set sec = (clock | unix_timestamp) | int -%}
{%- set ms = ((clock | unix_timestamp) * 1000) | int -%}
{{- {'metadata': {'customerIDString': org['crowdstrike_cid'], 'offset': fake.pyint(min_value=1,max_value=2147483647), 'eventType': 'UserActivityAuditEvent', 'eventCreationTime': sec * 1000, 'version': '1.0'}, 'event': {'UserId': user['email'], 'UserIp': device['ip_address'], 'OperationName': 'detection_update', 'ServiceName': 'detections', 'AuditKeyValues': [{'Key': 'detection_id', 'ValueString': profile['detection_id']}, {'Key': 'new_state', 'ValueString': 'in_progress'}, {'Key': 'assigned_to', 'ValueString': user['full_name']}, {'Key': 'assigned_to_uid', 'ValueString': user['email']}], 'UTCTimestamp': sec}} | tojson -}}
