{%- set client = registry.get_random_device() -%}
{%- set answer = registry.get_service(client['hostname'] + '-answer') -%}
{{- {'version': '1.100000', 'account_id': client['aws_account_id'], 'region': 'us-east-1', 'vpc_id': client['aws_vpc_id'], 'query_timestamp': now() | iso8601_utc, 'query_name': answer['dns_name'], 'query_type': 'A', 'query_class': 'IN', 'rcode': 'NOERROR', 'answers': [{'Rdata': answer['dns_answer_ipv4'], 'Type': 'A', 'Class': 'IN'}], 'srcaddr': client['ip_address'], 'srcport': fake.pyint(min_value=49152, max_value=65535) | string, 'transport': 'UDP', 'srcids': {'instance': client['aws_instance_id']}} | tojson -}}
