{%- autoescape false -%}
{%- set client = registry.get_random_device() -%}
{%- set interface = registry.get_random_device() -%}
{%- set aws_account_id = fake.numerify(text='############') -%}
{%- set aws_interface_id = 'eni-' + fake.bothify(text='?????????????????', letters='0123456789abcdef') -%}
{%- set port = fake.random_element(elements=[443, 3389]) -%}
{%- set vpc_action = fake.random_element(elements=['ACCEPT', 'REJECT']) -%}
{%- set clock = now() -%}
{%- set end = (clock | unix_timestamp) | int -%}
{%- set packets = fake.pyint(min_value=2, max_value=30) -%}
{%- set bytes = packets * fake.pyint(min_value=40, max_value=1500) -%}
{%- set source_port = fake.pyint(min_value=49152, max_value=65535) -%}
{{- '2 ' + aws_account_id + ' ' + aws_interface_id + ' ' + client['ip_address'] + ' ' + interface['ip_address'] + ' ' + (source_port | string) + ' ' + (port | string) + ' 6 ' + (packets | string) + ' ' + (bytes | string) + ' ' + ((end - 30) | string) + ' ' + (end | string) + ' ' + vpc_action + ' OK' -}}
{%- endautoescape -%}
