{%- set client = registry.get_random_device() -%}
{%- set destination = registry.get_service(client['hostname'] + '-http') -%}
{%- set clock = now() -%}
{{- {'timestamp': (clock | iso8601_utc), 'flow_id': (fake.pyint(min_value=100000000000000, max_value=999999999999999)), 'pcap_cnt': 53381, 'event_type': 'alert', 'src_ip': (client['ip_address']), 'src_port': (fake.pyint(min_value=49152, max_value=65535)), 'dest_ip': (destination['suricata_dest_ip']), 'dest_port': (destination['port']), 'proto': 'TCP', 'metadata': {'flowbits': ['http.dottedquadhost']}, 'tx_id': 4, 'alert': {'action': 'allowed', 'gid': 1, 'signature_id': 2018358, 'rev': 10, 'signature': 'ET HUNTING GENERIC SUSPICIOUS POST to Dotted Quad with Fake Browser 1', 'category': 'Potentially Bad Traffic', 'severity': 2}, 'app_proto': 'http'} | tojson -}}
